<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miniproyecto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='extraer_audio_style.css') }}">
</head>
<body>
    <div class="title">
        <h1>Bienvenidos a mi miniproyecto</h1>
    </div>
    <div class="menu">
        <h2 class="title-menu">Menú</h2>
        <form action="{{ url_for('opcion') }}" method="post">
            <ul class="list-menu">
                <li><button type="submit" name="opcion" value="1">a. Reproducir audio</button></li>
                <li><button type="submit" name="opcion" value="2">b. Reflejar</button></li>
                <li><button type="submit" name="opcion" value="3">c. Aumentar amplitud</button></li>
                <li><button type="submit" name="opcion" value="4">d. Extraer fragmento de audio</button></li>
                <li><button type="submit" name="opcion" value="5">e. Graficas</button></li>
                <li><button type="submit" name="opcion" value="6">f. Intercambio de Canales</button></li>
                <li><button type="submit" name="opcion" value="7">Detener reproducción</button></li>
            </ul>
        </form>
    </div>
</body>
</html>